 /* <div style= {
         {
         display: "flex",
             flexWrap: "wrap",
             justifyContent: "space-between",
             width: "100%",
             marginBottom: 20,
     }
 }

 ><p style= {
         {
         width: "45%",
             marginBottom: 15,
             fontSize: 18,
             color: "#3c3c3c",
     }
 }

 >Hyper-personalized rewards & incentives </p><p style= {
         {
         width: "45%",
             marginBottom: 15,
             fontSize: 18,
             color: "#3c3c3c",
     }
 }

 >Attractive & competitive interest rates </p><p style= {
         {
         width: "45%",
             marginBottom: 15,
             fontSize: 18,
             color: "#3c3c3c",
     }
 }

 >Customer success as swift as an arrow </p><p style= {
         {
         width: "45%",
             marginBottom: 15,
             fontSize: 18,
             color: "#3c3c3c",
     }
 }

 >Sensible account & card management </p></div> */